################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Test001/v15
/.vs/Test001/v16/Server/sqlite3
/Test001/bin/Debug
/Test001/obj/Debug
